Order deny,allow
Deny from all


<FilesMatch "^[^/]+$">
	Allow from all
</FilesMatch>

<FilesMatch "routing\.php$" >
	Allow from all
</FilesMatch>

Options +FollowSymlinks
RewriteEngine on
RewriteRule ^((.+/)*[^\.]+)$ /timezone/framework/routing.php?url=$1 [QSA] [L]
