@font-face {
    font-family: 'ds-digi';
    src: url("../fonts/DS-DIGI.TTF");
}
body {
    height: 100vh;
}
.header {
    height: 20%;
}
.body {
    height: 80%;
}
#results {
    overflow: auto;
    max-height: 50vh;
}
#clocks {
    height: 100%;
}
.clock {
    height: 33.33%;
    color: white;
}
.clock-clock {
    position: absolute;
}
.clock-clock>svg {
    max-width: 80%;
    height: 100%;
}
.clock-clock>.clock-weather {
    position: absolute;
    top: 0px;
    right: -10%;
}
.clock-clock>.clock-weather>img {
    width: 70px;
    height: 70px;
}
.clock-clock>.clock-temp {
    position: absolute;
    top: 0px;
    right: 10%;
}
.clock-clock>.clock-ampm {
    position: absolute;
    bottom: 10%;
    right: 10%;
}

.clock-grid>.clock-city {
    float: left;
    margin-right: 5px;
}
.clock-grid>.clock-city:after {
    content: ', ';
}
.clock-grid>.clock-clock {
    right: 20%;
    bottom: 5px;
    height: 80%;
    left: 15%;
}

.clock-list>.clock-clock {
    right: 10%;
    height: 90%;
    bottom: 5%;
    width: 40%;
}

.clock-clock>.clock-digital {
    font-family: ds-digi;
    display: none;
    margin-top: 20%;
    font-size: 4.5em;
}
